fastapi>=0.115.0,<1.0.0
uvicorn[standard]>=0.30.6,<1.0.0
gunicorn>=23.0.0,<24.0.0
openai>=1.82.0,<2.0.0
pydantic>=2.8.2,<3.0.0
pydantic-settings>=2.4.0,<3.0.0
azure-monitor-opentelemetry>=1.6.0,<2.0.0